<aside class="lyear-layout-sidebar">

  <!-- logo -->
  <div id="logo" class="sidebar-header">
    <a href="index.html"><img src="../images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
  </div>
  <div class="lyear-layout-sidebar-scroll">

    <nav class="sidebar-main">
      <ul class="nav nav-drawer">
        <li class="nav-item"> <a href="/"><i class="mdi mdi-home"></i>图书共享系统</a> </li>
        <li class="nav-item"> <a href="/selectBookList"><i
                class="mdi mdi-account-search"></i>图书查询</a> </li>

        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i>图书共享</a>
          <ul class="nav nav-subnav">
            <li class="nav-item"> <a href="/toShareBook"><i class="mdi mdi-upload"></i>图书分享</a> </li>
            <li> <a href="/myShareBookList"><i class="mdi mdi-library"></i>我的分享</a> </li>
          </ul>
        </li>


        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i>租赁信息</a>
          <ul class="nav nav-subnav">
            <li class="nav-item"> <a href="/myRentList"><i class="mdi mdi-circle"></i>我的租赁</a></li>
            <li> <a href="/renturnBookList"><i class="mdi mdi-library"></i>归还列表</a> </li>
          </ul>
        </li>
        <li class="nav-item"> <a href="/userNoticeList"><i class="mdi mdi-information"></i>查看公告</a></li>
          <li class="nav-item"> <a href="/violation"><i class="mdi mdi-account-remove"></i>违章信息</a> </li>
          <li class="nav-item"> <a href="/regular"><i class="mdi mdi-account-remove"></i>读者规则</a> </li>
          <li class="nav-item"> <a href="index.html"><i class="mdi mdi-pencil"></i>读者留言</a> </li>

        <!--
        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i>一级菜单备用</a>
          <ul class="nav nav-subnav">
            <li class="nav-item"> <a href="/toShareBook"><i class="mdi mdi-upload"></i>图书共享</a> </li>
            <li> <a href="index.html">二级菜单</a> </li>
          </ul>
        </li>
        -->
      </ul>
    </nav>

    <div class="sidebar-footer">
      <p class="copyright">Copyright &copy; 2022. <a target="_blank">584820231_马向宇</a> All rights
        .</p>
    </div>
  </div>

</aside>
