<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/css">
	</head>

	<body>
		<div class="lyear-layout-web">
			<div class="lyear-layout-container">
				<!--左侧导航-->
				<div th:replace="common/admin_left">
				</div>
				<!--End 左侧导航-->

				<!--头部信息-->
				<div th:replace="common/admin_head"></div>
				<!--End 头部信息-->

				<!--页面主要内容-->
				<main class="lyear-layout-content">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
										</li>
										<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
										<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item active"><img src="../images/img-slide-3.jpg" alt="图片一"></div>
										<div class="item"><img src="../images/img-slide-4.jpg" alt="图片二"></div>
										<div class="item"><img src="../images/img-slide-5.jpg" alt="图片三"></div>
									</div>
									<a class="left carousel-control" href="#carouselExampleIndicators" role="button"
										data-slide="prev"><span class="icon-left-open-big icon-prev"
											aria-hidden="true"></span><span class="sr-only">Previous</span></a>
									<a class="right carousel-control" href="#carouselExampleIndicators" role="button"
										data-slide="next"><span class="icon-right-open-big icon-next"
											aria-hidden="true"></span><span class="sr-only">Next</span></a>
								</div>
							</div>
						</div>
					</div>
				</main>
				<!-- END 页面主要内容-->

			</div>
		</div>

	</body>
<!--js资源-->
<div th:replace="common/js"></div>
</html>

<script type="text/javascript">
// 监测 （摆烂了，真不会）
	$(function(){
		undefined
		//每分钟执行一次
		//setInterval(getLoc,600000);
		//getLoc();
	});
	function getLoc(){
		undefined
	}

</script>
