<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head th:replace="common/css">
	</head>

	<body>
		<div class="lyear-layout-web">
			<div class="lyear-layout-container">
				<!--左侧导航-->
				<div th:replace="common/user_left">
				</div>
				<!--End 左侧导航-->

				<!--头部信息-->
				<div th:replace="common/user_head"></div>
				<!--End 头部信息-->

				<!--页面主要内容-->
				<main class="lyear-layout-content">
						<div style="margin-left: 10%">
							<h2 style="text-align: center">违章处理办法</h2>
							<h3>一、图书遗失</h3>
							<p>
							图书遗失，自购同种同版图书赔偿，并交纳图书技术加工费2元/册。<br>
							如果无法重购的，根据遗失图书的价值和出版年限的不同，按其定价的3至500倍交纳赔偿金，具体赔偿规定如下：<br>
							1、单册图书<br>
							距今2年内出版者按图书原价的3倍赔偿；<br><br>

							距今3-5年内出版者按图书原价的6倍赔偿；<br><br>

							距今6-10年内出版者按图书原价的15倍赔偿；<br><br>

							距今11-20年内出版者按图书原价的30倍赔偿；<br><br>

							出版年超过20年者按图书原价的60倍赔偿；<br><br>

							1985年以前出版的视文献价值按图书原价的100-500倍赔偿。<br>
							</p>
							<h3>二、书刊污损</h3>
							<p>

							凡污损、涂写、圈点、拆散书刊但还可以使用者，根据损坏情况，罚以书价的20%-100%的损失费；不能投入使用者，按遗失赔偿。<br><br>

							凡撕剪书刊文字、图表部分者，一经发现，通报批评，并根据其撕剪情况，罚以书价的2-3倍赔偿金；赔偿后残缺书刊不退给赔偿者。<br>
							</p>

							<h3>三、条码损坏</h3>

							<p>每条交纳赔偿金3元<br></p>

							<h3>四、盗窃书刊</h3>>

							<p>撕书、破坏书刊防盗装置、擅自携带未借图书出馆等属于盗窃图书行为。凡盗窃刊者，除追回原书刊外，一律送交学校保卫部门处理。无法追回的书刊按遗失赔偿。<br></p>

							<h3>五、超期罚款</h3>

							<p></p>为了加快图书的流通周转，对超期不还者实行超期罚款制度。超期最初两天免罚，如若免罚期间仍不归还，则从超期第3天（连同前两天）开始计算罚款，执行标准为每本书每天罚款0.2元。超期图书罚款最小值为0.6元。超期图书不得办理续借和再借手续。<br></p>

							<h3>六、随书光盘损坏和遗失</h3>

							<p>可在图书馆规定时间内自行购买原书随书光盘予以补偿，每张光盘需补交加工费2元。如在指定时间内无法购买原书随书光盘则按每张光盘15元赔偿，由图书馆代为购买并适时加工补充。为保证光盘的制作质量，图书馆不收取自行复制的光盘。<br></p>>

							<h3>七、使用他人校园卡</h3>

							<p>校园卡只限本人使用，不得转借他人，一旦发现校园卡被转借，工作人员有权予以扣押，并根据情节轻重给予批评教育、停借双方一个月直至注销校园卡图书馆使用功能的处罚，同时该卡上所借的图书应由原持卡人负责返还或赔偿。<br><br>

							使用他人丢失的校园卡借书，一经发现，以“窃书”论处。<br></p>
							<h3>八、交付违章赔偿金</h3>

							<p>读者交付赔偿费，一律由工作人员从校园卡中扣除，不交纳现金。需要收据的读者请到学校一卡通中心索取。<br></p>

							<h3>九、其他有关注意事项</h3>

							<p>读者在借书时请务必逐本逐页查看书内有否污损现象（如勾画、撕损、污染等）。如发现上述现象，请及时向工作人员反映。<br><br>

							违章读者，在未按规定执行赔偿规则之前，一律暂停借阅。<br><br>

							学生离校（包括毕业）时必须先还清所借图书，由图书馆出具注销证明。<br><br>

								其他未尽事项，图书馆有权临时决定处理。<br></p>

						</div>
				</main>
				<!-- END 页面主要内容-->
			</div>
		</div>

	</body>
<!--js资源-->
<div th:replace="common/js"></div>
</html>
